.contenedorformulario {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #a81313;
 }
 
 .contenedorform {
    display: flex;
    border: solid white;
    padding: 40px;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    background: #000;
 }
 
 .form {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: flex-start;
    padding-top: 20px;
 }
 
 .contenedorform textarea {
    resize: none;
    height: 250px;
    border-radius: 5px;
    font-size: 20px;
 
 }
 
 textarea::placeholder {
    font-size: 25px;
 }
 
 .contenedorform input {
    height: 30px;
    border-radius: 5px;
 }
 
 input::placeholder {
    font-size: 15px;
 }
 
 .contenedorform h1 {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-bottom: 30px;
    color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 #botoncontacto {
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    background: gold;
    cursor: pointer;
    transition-duration: 0.4s;
 }
 
 #botoncontacto:hover {
    background-color: rgba(255, 217, 0, 0.911);
 }